/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,300,600);
@font-face {
    font-family: book;
    src: url(book.ttf);
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.5;
    height: 100%;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: .3px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
/*    overflow: hidden;*/
}

a{
    text-decoration: none;
    color: inherit;
}

.landing-page{
    display: flex;
    flex-direction: column;  min-height: 100vh;
}

.landing-content{
    background: #fafafa;
    display: flex;
    flex-direction: column;
    height: 100%;    
    height: 80vh;
/*    align-items: center;*/
}

.expertise, .expertise-2{
/*    flex: 1;*/
    font-family: 'book', serif;
    color: #7e7e7e;
    box-sizing: border-box;
    text-transform: uppercase;
}

.expertise-2{
}

.expertise{
    padding-bottom: .5%;
    order: 2;
}

.expertise h1{
    margin: 0;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.75em;
    margin-left: 3%;
}


.expertise-2 h1{
    margin: 0;
    font-weight: 400;
    font-size: 1.1em;
    margin-left: 3%;
}

.expertise h2{
    margin: -1.3% 0 0;
    font-weight: 400;
    font-size: 1.1em;
    margin-left: 3%;
}
.expertise-2 h2{
    margin: -1% 0 0;
    font-weight: 400;
    font-size: .9em;
    margin-left: 3%;
}
.expertise h3{
    margin: -.5% 0 0;
    font-weight: 400;
    font-size: .85em;
    margin-left: 3%;
}

 .expertise-2 h3{
    margin: -.5% 0 0;
    font-weight: 400;
     font-size: .85em;
     margin-left: 3%;
}

.expertise-2{
    padding-top: .5%;
}


.pic img{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 120%;
    opacity: .15;
    transition: 1s ease;
}


.logo{
    flex: 1;
    box-sizing: border-box;
/*    padding: 15% 5% 20%;*/
    padding: 25% 5% 20%;
    position: relative;
}
.logo img{
    width: 100%;
}

.infinite-logo{
    position: absolute;
    top: 53%;
    width: 80% !important;
    left: 10%;
    opacity: .15;
}

.explore-content{
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}


.technical{
    flex: 9;
    display: flex;
    flex-direction: column;
}

.skillset{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    align-items: flex-end;
    padding: 0 10% 1%;
    box-sizing: border-box;
}

.skillset div{
    flex: 1;
    transition: .8s ease;
    flex-basis: 20%;
    flex-wrap: wrap;
    margin-top: 3%;
}
.skillset div:hover{
    transform: translate(0, -5px);
}


.pic{
    flex: 2;
    align-content: flex-end;
}

@media screen and (min-width:525px) and (max-width:960px){
    .logo{
        padding: 5% 20%;
    }
    .infinite-logo{
        top: 30%;
        width: 50% !important;
        left: 25%;
    }
    
}


@media screen and (min-width: 960px){


    .expertise, .expertise-2{
        flex: 1;
    }

    .pic{
        flex: 1;
    }
    
    .skill-wrapper{
        height:94vh;
    }
    
    .skillset div{
        flex-basis: auto;
    }
    .technical{
        flex-direction: row;
    }

    
    .explore-content{
        flex-direction: row;
    }
    
    .expertise{
        align-self: flex-end;
    }

    .expertise h1{
        letter-spacing: 2px;
        font-size: 3.2em;
        margin-left: 3%;
    }


    .expertise-2 h1{
        font-size: 1.6em;
        margin-left: 3%;
    }

    .expertise h2{
        margin: -1.6% 0 0;
        font-size: 1.4em;
        margin-left: 3%;
    }
    .expertise-2 h2{
        margin: -1% 0 0;
        font-size: 1.4em;
        margin-left: 3%;
    }
    .expertise h3{
        margin: -.5% 0 0;
        font-size: 1em;
        margin-left: 3%;
    }

    .expertise-2 h3{
        margin: -.5% 0 0;
        font-size: 1em;
        margin-left: 3%;
    }

    
    .landing-content{
        flex-direction: row;
    }  
    #landing-content-home{
        height: auto;
    }


    .pic img{
        height: 75%;
        opacity: 1;
    }

    .expertise{
        order: 0;
    }

    .logo{
        padding: 4%;
    }
    .infinite-logo{
        top:33%;
    }
    
}

.logo-typo{
}



.infinite-logo {

}


.timeline-link{
    flex: 1;
}
.timeline-link > div{
    position: relative;
}

.explore-content a{
    margin-top: 5%;
    text-align: center;
    font-size: 1.2em;
    font-family: serif;
    font-weight: 300;
    color: #4f4f4f;
    display: block;

}

.explore-content a:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1.3px;
    bottom: -5px;
    left: 25%;
    background-color: #aeaeae;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.explore-content a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.zero-opacity{
    opacity: 0;
}

.container{
/*    display: flex;*/
    height: 94.5vh;
    background: #fafafa;
}

.timeline{
    height: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin: 1%;
    background: white;
}

.content{
    height: auto;
    display: none;
    margin: 1%;
    background: white;
    box-sizing: border-box;
    padding: 2% 5%;
}



.social > div{
    flex: 1;
}


.skill-wrapper{
    display: flex;
    flex-direction: column;
}

.skill-heading h1{
    text-align: center;
    font-weight: 300;
    color: #4f4f4f;
    margin-top: 2%;
}

@media (max-width:960px){
    
    .skill-heading h1{
        padding: 0 10%;
        font-size: 1.2em;
        margin-top: 6%;
    }

    .skill-wrapper{
        height: 100%;
    }
    
    .pic img{
        top: 0;
    }
    
    .hide-mobile{
        display: none;
    }
  
   
    .content-mobile
    {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow-y: auto;
        height: 100%;
    }
   
    .content-mobile > div
    {
/*        border: 1px solid #535353;*/
/*        padding: 5%;*/
    }
    
    .social-links{
        flex: 12 !important;
    }
    .timeline-link{
        margin-top: 4%;
    }
    
}

.content img{
    width: 100%;
}

.date{
    align-self: flex-end;
    flex: 1;
    flex-basis: 15%;
    color: #7c7c7c;
}


.timeline-detail{
    margin-left: 3%;
    flex: 20;
    font-size: .8em;
}

#content-details > div {
    display: none;
}

#content-details > div.is-active{
    display: block;
}

.date p{
    text-align: right;
    margin-bottom: 0;
    font-size: .7em;
}

.month{
    font-size: 1.5em;
        color: #464646;
}

.tech-1{
    background: white;
    margin: 5%;
    padding: 2% 5%;
    box-sizing: border-box;
    border: #ebebeb solid 1px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.js-close{
    float: right;
    padding: 2%;
}

@media screen and (min-width: 960px){

    .js-close{
        display: none;
    }
    .tech-1{
        margin: 2% 1%;
        padding: 2%;
    }

    .timeline{
        overflow-y: auto;
        flex: 4;
        flex: 6;
        height: auto;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        position: absolute;
        left: 0;
/*        width: 30%;*/
        width: 40%;
        overflow-y: scroll;
        max-height: 90vh;
    }

    .content{
        flex: 3;
        flex: 11;
/*        display: block;*/
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2% 5%;
        height: 100%;
/*        height: auto;*/
/*        width: 67%;*/
        width: 57%;
        float: right;
        overflow-y: scroll;
        max-height: 90vh;

    }

    .date{
        flex-basis: none;
    }

}

.timeline-block{
    display: flex;
    margin-bottom: 0;
    cursor: pointer;
    border-bottom: 1px solid white;
/*    border-top: 1px solid white;*/
    transition: ease .15s;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3% 2% 2%;
}

.timeline-block:hover{
    border-bottom: 1px solid #c1c1c1;
/*    border-top: 1px solid #c1c1c1;*/
    transition: ease .15s;
}

.active-block{
    border-bottom: 1px solid #c1c1c1;
}

.block-margin{
    margin-top: 2.4em;
}

.timeline-block:hover{
}



.timeline-detail h1{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: .5px;
    color: #222;
}

.timeline-detail p{
    margin: 0;
    color: #4a4a4a;
}

.timeline-detail img{
    width: 95%;
    margin-top: 2%;
}

.content h1{
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.5em;
}

.content p{
    text-align: justify;
    line-height: 1.8;
    font-size: .95em;
}

.content h2{
    text-align: center;
    font-weight: 300;
    font-style: italic;
    margin-top: 0;
    font-size: 1.1em;
}
.content div a{
    display: block;
    text-align: center;
}

.image-block{
    display: flex;
}

.image-block>div{
    margin: 0 2%;
}

.image-block>div>p{
    font-style: italic;
}

.hr-center{
    width: 70%;
    margin: 3% auto;
    }

.social{
    display: flex;
}


.social-links{
    text-align: center;
    padding-bottom: 1.5%;
}

.social-links a{
    margin: .65%;
    opacity: .4;
    transition: .8s ease;
    display: inline-block;
}
.social-links a:hover{
    opacity: .8;
    transform: translate(0, -5px);
}

.social-links a img{
    width: 35px
}

.social-links p{
    margin-bottom: .5em;
}


.skill-heading{
    flex: 2;
}



.technical >div{
    flex: 1;
}


.skillset div img{
    width: 80%;
    opacity: .7;
}

.msg-form{
    transition: .3s ease;
}

.msg-form form{
    margin-top: 5%;
}


.msg-form div{
     width: 100%;   
}

.msg-form input{
    outline: none ;
    border: none;
    border-bottom: #adadad 1px solid;
    margin-left: 3%;
    width: 80%;
}

textarea{
    width: 70%;
}
.msg-form input[type="submit"]{
    width: 75%;
    margin: auto;
    display: block;
    background: #efefef;
    padding: 2% 0;
    transition: .5s ease;
    border: none;
    
}
.msg-form input[type="submit"]:hover{
    width: 85%;
    
}

.msg-form textarea{
    outline: none;
    border: none;
    border-bottom: #adadad 1px solid;
    margin-left: 3%
}
.js-response{
    color: #034e84;
    font-style: italic;
    margin-top: 6%;
    text-align: center;
    transition: 1s ease;
}

.footer-tagline{
    text-align: center;
    font-style: italic;
}

/*...................navigation starts...............*/

.navigation{
    display: flex;
    font-family: serif;
    z-index: 10;
}

.nav-container{
    overflow-x: auto;
}

.right-nav-container{
    flex: 1; 
    -webkit-box-shadow: -9px 0px 8px -8px rgba(107,107,107,0.35);
    -moz-box-shadow: -9px 0px 8px -8px rgba(107,107,107,0.35);
    box-shadow: -2px 0px 2px -1px rgba(107,107,107,0.35);
    border-left: #ccc solid 1px;
}

.right-nav-container ul{
}

.left-nav-container{
    flex: 2; 
}

.left-nav-container ul{
    padding-left: 2px;
}

.active{
    background:rgb(229, 229, 229)
}

@media screen and (min-width: 960px){
    .right-nav-container{
        flex: 1;
        box-shadow: none;
        border-left: none;
           }

    .right-nav-container ul{
        justify-content: flex-end;
    }
    .left-nav-container{
        flex: 1; 
    }
    .left-nav-container ul{
        padding-left: 3%;
    }
    
}

.nav-container ul{
    display: flex;
    background: #fff;
    border-bottom: #e6e6e6 solid 1px;
    margin:0;
    overflow-y: auto;
}

.nav-container li{
    flex-shrink: 0;
    list-style: none;
}

.nav-container a{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: .8em;
    color: #393939;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}
.nav-container a:hover{
    background: #fafafa;
}

.nav-container a:active, .nav-container a:focus{
background:rgb(229, 229, 229);
}



/*...................navigation ends...............*/


@media (min-width:960px){
.scroll-design::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

.scroll-design::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

.scroll-design::-webkit-scrollbar-thumb
{
    background-color: #676767;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

}
.centered{
    text-align: center !important;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
